*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project Files
**/*.iml
.idea/*
.idea/.name

# Maven
*/target/*

# JIT log files
*.log

# sorry for copyright
/site/src/main/java/wechat
/site/src/main/resources/wechat

/site/src/main/webapp/index.jsp
/site/src/main/webapp/wechat
/site/src/main/webapp/WEB-INF/struts-config.xml
/site/src/main/webapp/WEB-INF/web.xml